@import '~swiper/css';
@import '~swiper/css/pagination';
@import '~swiper/css/navigation';
@import 'react-modal-video/css/modal-video.min.css';
@import 'keen-slider/keen-slider.min.css';

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin & padding
*/
* {
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
  background: black;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

.box_content {
  transform: transform 0.3s ease;
}

.box_content:hover {
  transform: translateX(0px) translateX(70px) scale(1.5) translateZ(0px);
  z-index: 1;
  .box_title {
    max-height: 9999px;
  }
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: 'next';
  font-size: 12px !important;
  color: white;
  font-weight: 800;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: 'prev';
  font-size: 12px !important;
  color: white;
  font-weight: 800;
}
.events-swipper {
  .swiper-slide {
    width: 215px !important;
  }
}
.featured-swipper {
  overflow: unset;
  .swiper-slide {
    transform: none;
    width: 283px !important;
  }
}

.featured-swipperSmDown {
  .swiper-slide {
    transform: none;
    width: 283px !important;
  }
}
